.event-page {
  background-color: black;
  color: white;
}

.event-list {
  display: grid;
  background-color: black;
  color: white;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0; /* Remove default margin */
  width: 100%; /* Ensure the grid takes the full width of the container */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.event-item {
  max-width: 700px;
}

.event-page h2 {
  padding-left: 10%;
  padding-top: 3%;
  font-size: 50px;
}
