.event-page {
  background-color: black;
  color: white;
}

.event-detail-container {
  min-height: 100vh;
}

.event-image {
  width: 700px;
}

.container {
  margin-top: 20px;
}

h1, h2 {
  color: #fff;
}

p {
  color: #ccc;
}

.text-muted {
  color: #aaa !important;
}

.text-danger {
  color: #f00;
}

.divider {
  border-top: 1px solid white;
}

.btn-primary {
  background-color: darkgrey;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.participate-btn {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: inline-end;
  margin-top: 3%;
}

.participate-btn.participated {
  background-color: #28a745; 
  color: white;
}

.participate-btn:hover {
  background-color: #0056b3; 
}

.participate-btn.participated:hover {
  background-color: #218838; 
}


