<div class="event-page">
  <app-top-bar-logged></app-top-bar-logged>
  @if (event$ | async; as event) {
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          @if (event.title) {
            <h2>{{ event.title }}</h2>
          }
          @if (event.owner) {
            <div class="text-muted">By {{ event.owner.username }}</div>
          }
          <hr class="divider">
          <p>
            <i class="bi bi-calendar3"></i> Date: {{ event.date | date:"longDate" }} at
            {{ event.time.toString().replace(',', 'h') }}
          </p>
          <p>
            <i class="bi bi-geo-alt"></i> {{ event.address }}, {{ event.city }}
          </p>
          @if (!isEventInPast(event.date)){
            <button
              class="btn participate-btn"
              [ngClass]="{'participated': isParticipating}"
              (click)="handleParticipationButton(event.id)">
              {{ isParticipating ? 'Leave Event' : 'Join Event' }}
            </button>
          } @else {
            <p class="participate-passed">You participated</p>
          }
          <p class="text-muted">
            <i class="bi bi-people"></i>
            @if (participants$ | async; as participants) {
              {{ participants.valueOf() }}
            } @else {
              Could not find participants
            }
          </p>
        </div>
        <div class="col-md-6">
          <img [src]="'assets/' + event.category.name + '.jpg'" alt="{{ event.category.name }}" class="img-fluid event-image">
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2>Description</h2>
      <hr class="divider">
      <p>{{ event.description }}</p>
    </div>

    @if (isParticipating && isEventInPast(event.date)){
    <div class="container mt-5">
      <h2>Reviews

          <button
            class="btn review-btn"
            (click)="goToReviewCreationPage(event.id)">
            Add a review
          </button>
      </h2>
      <hr class="divider">
      @if (reviews$ | async; as reviews) {
        @for (review of reviews; track review) {
          <div class="review">
            <div class="review-header">
              <h3>{{ review.owner }}</h3>
              <span class="rating">{{ review.grade }}/5</span>
              <span class="review-date">{{ review.date | date:"dd/MM/yyyy" }}</span>
            </div>
            <div class="review-body">
              {{ review.comment }}
            </div>
          </div>
        }
      }
    </div>
    }

  }
</div>
