<div class="event-item" *ngIf="event">
  <div class="event-image">
    <img [src]="'assets/images/' + event.category.name + '.jpg'" alt="{{ event.category.name }}">
  </div>
  <div class="event-details">
    <h3 class="title">{{ event.title }}</h3>
    <div class="badge bg-info text-white">{{ event.category.name }}</div>
    <div class="info">
      <div>{{ event.address }} {{ event.city }}</div>
      <div>{{ event.date }}</div>
      <div>{{ event.time }}</div>
      <div>Creator: {{ event.owner.username }}</div>
    </div>
  </div>
</div>

