.event-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  background-color: #141414;
  color: white;
  transition: transform 0.2s, background-color 0.2s;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
}

.event-item:hover {
  transform: translateY(-5px);
  background-color: black;
}

.event-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details {
  padding: 10px;
  width: 100%;
}

.event-details .title {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.event-details .info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.event-details .category, .event-details .orga {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.event-details .category {
  background-color: #007bff;
  color: #ffffff;
}

.event-details .orga {
  background-color: #28a745;
  color: #ffffff;
}

.event-details .info {
  font-size: 0.9rem;
  color: #aaaaaa;
}

.event-details .info div {
  margin-bottom: 3px;
}
