.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}



.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu button {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  background: none;
  border: none;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

