<div class="home-container">
  <app-top-bar-unlogged></app-top-bar-unlogged>
  <div class="main-content">
    <div class="row">
      <div class="col-8 text">
        <div class="headline">
          <h1>DISCOVER THE ULTIMATE DESTINATION FOR SEAMLESS EVENT PLANNING</h1>
          <h2>SHARE YOUR</h2>
          <h2>EVENTS</h2>
          <button (click)="openSignUp()"> Get started ! </button>
        </div>
      </div>
      <div class="col-4 images">
        <img src="/assets/Image1.png" alt="Image 1">
        <img src="/assets/Image2.png" alt="Image 2">
      </div>
    </div>
  </div>
</div>


