<div class="filter-bar">
  <div class="filter-item">
    <mat-form-field appearance="outline">
      <mat-label style="color: white">Category</mat-label>
      <mat-select style="color: white" [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-item">
    <mat-form-field appearance="outline">
      <mat-label style="color: white">City</mat-label>
      <mat-select style="color: white" [(ngModel)]="selectedCity">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-item">
    <mat-form-field appearance="outline">
      <mat-label style="color: white">Select Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="applyFilters()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="apply-reset">
    <button class="btn btn-primary btn-lg apply-button" (click)="applyFilters()">Apply</button>
    <button class="btn btn-lg reset-button" (click)="resetFilters()">Reset Filters</button>
  </div>
</div>
