<div class="navbar" [ngClass]="navbarClass">
  <nav class="actions">
    <button class="logo" (click)="goToEvents()">EventHub</button>
    <button class="search" (click)="navigateToSearch()"><i class="fa fa-search"></i></button>
    <button (click)="goToPassedEvents()">Passed events</button>
    <button (click)="goToUpcomingEvents()">Upcoming events</button>
   
    <button mat-button [matMenuTriggerFor]="exploreBy">
      <div class="exploreBy">Explore By  <i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </button>
    <mat-menu #exploreBy="matMenu">
      <button mat-menu-item (click)="goToCategories()">Categories</button>
      <button mat-menu-item (click)="goToMyFriendsEvents()">Friends</button>
    </mat-menu>
  </nav>
  <div class="spacer"></div>
  <nav class="actions">
    <button (click)="goToEventsCreation()">Create Event</button>
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="avatar">{{ username.charAt(0).toUpperCase() }}</div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToMyAccount()">My Account</button>
      <button mat-menu-item (click)="goToMyEvents()">My Events</button>
      <button mat-menu-item (click)="logout()" class="red-text"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</button>
    </mat-menu>
  </nav>
</div>
