<div class="navbar">
  <div class="logo">EventHub</div>
  <nav class="actions">
    <button (click)="goToEvents()">Events</button>
    <button (click)="goToCategories()">Categories</button>
  </nav>
  <div class="spacer"></div>
  <nav class="actions">
    <button (click)="goToEventsCreation()">Create Event</button>
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="avatar">{{ username.charAt(0).toUpperCase() }}</div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToMyAccount()">My Account</button>
      <button mat-menu-item (click)="goToMyEvents()">My events</button>
      <button mat-menu-item (click)="logout()" class="red-text">Log out</button>
    </mat-menu>
  </nav>
</div>
