.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .profile {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  

  
  .profile-info {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
  }
  
  .sort-options {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .my-reviews-top-bar {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black !important;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
   
    height: 100vh;
    padding: 0;
  }

  .review-card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .event-summary {
    flex: 1;
  }
  
  .review-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .options-btn {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .options button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .options button:hover {
    background-color: #0056b3;
  }
  
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-right: 5px;
  }
  
  .bg-info {
    background-color: #17a2b8;
  }
  
  .text-white {
    color: white;
  }

  .delete-btn {
    color: #FF0000;
    background: none;
    border: none;
    float: right;
    position: absolute; 
    bottom: 5%;
    right: 2%;
  }

  .stars{
    position: absolute; 
    top: 7%;
    right: 10%;
  }
  
  .card img {
    height: 150px;
    border-radius: 6%;
    width: 100%;
    cursor: pointer; 
}

.card img:hover {
    opacity: 0.8;
}
  

