
<div class="container">
  <main class="mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <a href="#" class="back-link" (click)="closeDialog()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
      <h2 class="form-title">SIGN UP</h2>
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input
        type="text"
        class="form-control"
        id="username"
        autocomplete="off"
        placeholder="Username"
        formControlName="username"
        [class.is-invalid]="username.invalid && (username.touched ||isSubmitted)"
        [class.is-valid]="username.valid && (username.touched|| isSubmitted)"
        />
        <div *ngIf="username.invalid && (username.touched ||isSubmitted)" class="invalid-feedback">
          <div *ngIf="username.errors?.['required']">Username is required</div>
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
        [class.is-invalid]="password.invalid && (password.touched || isSubmitted)"
        [class.is-valid]="password.valid && (password.touched|| isSubmitted)"
        />
        <div *ngIf="password.invalid && (password.touched||isSubmitted)" class="invalid-feedback">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['missingUpperCase']">Password should contain at least 1 upper case letter</div>
          <div *ngIf="password.errors?.['missingLowerCase']">Password should contain at least 1 lower case letter</div>
          <div *ngIf="password.errors?.['missingNumeric']">Password should contain at least 1 number</div>
          <div *ngIf="password.errors?.['minlength']">Password should be 8 characters or more</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        [class.is-invalid]="confirmPassword.invalid && (confirmPassword.touched|| isSubmitted)"
        [class.is-valid]="confirmPassword.valid && (confirmPassword.touched|| isSubmitted)"
         />
        <div *ngIf="confirmPassword.invalid && (confirmPassword.touched ||isSubmitted)" class="invalid-feedback">
          <div *ngIf="confirmPassword.errors?.['required']">Please confirm your password</div>
        </div>
      </div>

      <div *ngIf="form.errors?.['passwordsDoNotMatch'] && (password.touched || confirmPassword.touched)" class="text-danger">
        Passwords do not match
      </div>

      <div class="button-container">
        <button type="submit" class="btn btn-primary mb-2">CONFIRM</button>
      </div>
 <!--   <div class="signup-link">
        Already registered ? <a [routerLink]="['/signup']">Login</a>
      </div>
    -->
    </form>
  </main>
</div>
